@import '_variables';

footer {
  position: relative;
  height: 50px;
  grid-column: 3 / 2; 
  grid-row: 3 / 4; 
  p {
    font-family: 'Work Sans';
    font-weight: 600;
    text-align: center;
  }
  a {
    animation: hover  500ms;

    &:hover {
      color: $capitalist-teal;
    }
  }
}