//Colors and Fonts

$black: #181716;
$gray-dropdown: #212424;
$gray-typography: #333333;

$gray-typography--light: #737373;
$gray-page-bg: #FCFCFC;
$gray-divider:#E2E2E2;

$diamondring-blue: #0066B2;
$diamondring-blue-light: #ABCBE3;

$capitalist-teal: #00808A;

