@import 'reset.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_variables.scss';


.wrapper {
  background-color: $gray-page-bg;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 23px;
  main {
// & > * { grid-column: 2 / -2; }
grid-column: 2 / 3;
grid-row: 1 / 2;
.forbes-logo {
  height: 30px
}
.img {
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  padding: 1rem;
  z-index: 2;
}
/* modal popup styles */
.modal {
position: fixed;
overflow: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0, 0, 0, 0.8);
color: #fff;
animation: 500ms fadeIn;
display: none;
z-index: 51;
  &-backdrop {
    // display: flex;
    // flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    z-index: 50;
  }
  &-content {
    justify-content: center;
    padding: 5%;
  }
  img {
    width: auto;
    max-height: calc(100vh - 150px);
    margin-bottom: auto;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
  }
  span {
    position: absolute;
    top: 10;
    right: 10px;
    font-size: 4rem;
    color: red;
    cursor: pointer;
  }
  p {
    margin: 5px auto;
    font-size: 1.1rem;
    text-align: center;
  }
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

}


  }
  